*.class
*.log
*.aux
*.swp
*.xml
*.ARFF
*.arff
*.tar.gz
.cache
.classpath
.project
.metadata/*
*.scale
.DS_Store
.history
.settings

minerva-source/questions/*
minerva-source/libshorttext-1.1/*
minerva-source/indexDir/*
minerva-source/indexDir*
minerva-source/output/*
minerva-source/lib/*
minerva-source/model/*

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
