*.class
*.log
*.aux
*.swp
*.xml
*.ARFF
*.arff
*.tar.gz
.cache
.classpath
.project
.metadata/*
*.scale
lib/*
model/*
.DS_Store
.history
.settings

questions/*
libshorttext-1.1/*
indexDir/*
indexDir*
output/*

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
